.service {
  background: #fce8bd;
  margin-top: 90px;
  padding: 30px 0;
}

.service-title {
  color: $black-color;
  font-size: 30px;
  font-weight: 510;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 20px;
}

.service-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
}

.service-content {
  display: inline-flex;
  align-items: center;
  background: #2c3442;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  width: calc(100% / 2 - 25px);
  margin-left: 25px;
  margin-bottom: 25px;
  transition: 0.6s;
  &:hover {
    box-shadow: 0px 13px 79px 2px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 13px 79px 2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 13px 79px 2px rgba(0, 0, 0, 0.32);
    transition: 0.6s;
  }
}

.service-text {
  color: $white-color;
  font-size: 20px;
  font-weight: 400;
  padding-left: 25px;
}

@media screen and (max-width: 1041px) {
  .service-content {
    max-width: 500px;
  }

  .service-img {
    width: 250px;
  }
}

@media screen and (max-width: 958px) {
  .service-box {
    display: flex;
    width: 100%;
    margin-left: 0;
  }

  .service-content {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  .service-text {
    font-size: 18px;
  }

  .service-img {
    margin-left: auto;
  }
}

@media screen and (max-width: 514px) {
  .service-text {
    font-size: 16px;
  }

  .service-img {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 389px) {
  .service-img {
    width: 140px;
    height: 150px;
  }

  .service-text {
    font-size: 13px;
  }
}
